@font-face {
    font-family: hand1;
    src: url(./fonts/AlexBrush-Regular.ttf);
}

#container {background-image:url(./imagenes/1f9e89b75bb33c41c9baf4de59f3f0d8b2188ca9.jpg);
          background-size: cover;
         background-position: left;
         border-radius: 15px;
         width: 80%;
          margin: auto;
           color: white;
          text-align: center;
          font-family: hand1;
      box-shadow: 5px 5px 15px black;
}
#poema {background-color: rgba(0, 0, 0, 0.535);
       padding:10px;
      margin: auto;
      width: 300px;
       border-radius: 15px ;}

h2 {background-color: rgba(128, 128, 128, 0.652);
    border-radius: 15px 15px 0px 0px;
    padding: 10px;}

body{font-size: 2em;
    background-color: rgb(162, 161, 161);
    margin: 0px;
    padding: 0px;}
